.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

div.header {
    background-color: #3d4a57;
}

a.pure-menu-heading {
    color: #fff;
    font-weight: bold;
}

a.pure-menu-link {
    color: #fff;
    font-size:small;
}

li.pure-menu-item.pure-menu-selected a.pure-menu-link {
    color: #3d4a57;
    font-weight: bold;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover,
li.pure-menu-item.pure-menu-selected a.pure-menu-link:focus, li.pure-menu-item.pure-menu-selected a.pure-menu-link:hover {
    color: #3d4a57;
}

li.pure-menu-item.pure-menu-selected {
    background-color: #eee;
}


/* Hide file input button. */
/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* Center text in upload label. */
#upload_label {
    text-align: center;
}

/* Style file input label. */
/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.inputfile + label {
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.carousel {
    text-align: center;
    margin: auto;
    width: 75%;
    margin-top: 40px;

    padding-bottom: 25px;
}

.splash-text {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: left;
    font-size:14px;
}

.splash-text > ul {
  display: inline-block;
  text-align: left;
}

.slick-prev:before, .slick-next:before {
    color: #0078e7 !important;
}

.carouselElement {
    text-align: center;
}

.slick-slide {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

ul.listAbout li {
    margin-bottom: 5px;
    list-style-type: none;
}

.tapasGithubButtonDiv {
    margin-top:10px;
    text-align: center;
}

a.pure-menu-heading {
    padding-top: 3px;
}

.navIconImage {
    position: relative;
    top: 4px;
}

a.pure-menu-heading {
    text-transform: none;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

form#uploadbanner {
    margin-top: 0px;
    text-align: center;
}

label#upload_label img {
    display: inline-block;
}

div.carousel.slick-initialized.slick-slider.slick-dotted {
    padding-bottom: 0px;
}

#initialParameterGrid .pure-u-1-6 {
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
}

.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
    height: 4px;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    width:5px;
}

span.parameterLabel {
    display: block;
    font-style: italic;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    margin-left: 0px;
}

.datasetSelect {
    margin-bottom: 10px;
}

.irs-line, .irs-bar, .irs-bar-edge {
    height: 8px;
}

.newRunParameterHistograms {
    display: inline-block;
    postion: relative;
    top: 0px;
}

div#initialParameterGrid span.irs-with-grid, div#measureWeightGrid span.irs-with-grid {
    top: -36px;
}

div#initialParameterGrid div.styled-select  {
    position: relative;
    top: -10px;
}


#measureWeightGrid .pure-u-1-6 {
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
}

div.splash-text div.pure-g input {
    position: relative;
    top: -9px;
    width: 100%;
}

a.pure-button {
    background-color: #3d4a57;
    color: #fff;
}

#nrph1 {
    width: 125px;
}

div#datasetSelect {
    width: 125px;
    height: 29px;
    margin-bottom: 10px;
}

div#datasetSelect.styled-select.default.semi-square {
    position: relative;
    top: -9px;
}

#createRunButton {
    margin-bottom: 20px;
}

div.splash-text div.pure-g input.nrpStepper {
    position: absolute;
    width: 35px;
    top: -6px;
    right: 0px;
}

#measureWeightGrid {
    height: 75px;
}

#nprDatasetHeader {
    margin-bottom: 0px;
}

#initialParameterGrid {
    height: 235px;
}

#runopt_datasetChoice div.styled-select {
    position: relative;
    top: -9px;
}

div.ui-dialog-titlebar {
    background: #3d4a57;
    color: #fff;
}

#runopt_choiceControls {
    width: 300px;
    margin: auto;
    text-align: left;
}

#runopt_dialog a.pure-button {
    margin-top: 10px;
}

.runopt_optionContainer {
    display: inline-block;
    vertical-align: middle;
}

.runopt_optionContainerSub {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.maxWidth a {
    width: 100%;
}