<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tAPAS</title>

    <link rel="stylesheet" href="./static/lib/pure-1.0.0/pure-min.css">
    <link rel="stylesheet" href="./static/lib/dc.css">
    <link rel="stylesheet" type="text/css" href="./static/lib/slick-1.8/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./static/lib/slick-1.8/slick/slick-theme.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/normalize.css" />
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="./static/lib/c3-0.4.18/c3.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/lib/lcSwitch/lc_switch.css" rel="stylesheet">

    <link rel="stylesheet" href="./static/custom.css">
    <link rel="stylesheet" href="./static/dashboard.css">
    <link rel="stylesheet" href="./static/dropdown.css">

    <link rel="icon" type="image/png" href="./static/img/icon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
    <div>
        <div class="header">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="/"> <img src="./static/img/icon_white.png" class="navIconImage" alt="tAPAS" width="20px"> tAPAS</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item" id="menu_start" onclick="updateCarousel('menu_start')">
                        <a href="#menu_about" class="pure-menu-link">Getting started</a>
                    </li>
                    <li class="pure-menu-item" id="menu_upload" onclick="updateCarousel('menu_upload')">
                        <a href="#menu_upload" class="pure-menu-link">Upload dataset</a>
                    </li>
                    <li class="pure-menu-item" id="menu_createrun" onclick="updateCarousel('menu_createrun')">
                        <a href="#menu_createrun" class="pure-menu-link">Create new run</a>
                    </li>
                    <li class="pure-menu-item" id="menu_run" onclick="updateCarousel('menu_run')">
                        <a href="#menu_run" class="pure-menu-link">Run optimization</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Carousel content loaded by jquery. -->
        <div class="carousel" id="carousel"></div>

        <!-- Dashboard content loaded by jquery. -->
        <div class="dashboard" id="dashboard"></div>
    </div>

    <!-- Include JS files. -->

    <script src="./static/lib/jquery.min.js"></script>
    <script src="./static/lib/jquery-ui-1.2.1.js"></script>
    <script src="./static/lib/queue.js"></script>
    <script src="./static/lib/slick-1.8/slick/slick.min.js"></script>
    <script src="./static/lib/ion_rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="./static/lib/resumable.js"></script>
    <!-- Toggle buttons -->
    <script src="./static/lib/lcSwitch/lc_switch.min.js"></script>

    <!-- Reading env. variables needed in JS is done here, since for whatever reason a separate script can't process
     jinja variable information. -->
    <script>
        var entrypoint = '{{ entrypoint }}';
    </script>

    <!-- Load d3.js and c3.js -->
    <script src="./static/lib/d3.v3.js" charset="utf-8"></script>
    <script src="./static/lib/c3-0.4.18/c3.min.js"></script>

    <!-- Initialize UI. -->
    <script type="text/javascript" src="./static/initializeUI.js"></script>
    <!-- Initialize dashboard. -->
    <script type="text/javascript" src="./static/initializeDashboard.js"></script>
</body>
</html>